<form method="GET" action="">
	<label>Ver preguntas que contengan el siguiente texto:</label>
	<input type="text" name="search">
	<input type="submit" value="Buscar">
</form>

<br/>

<table>
<% if(textToSearch != null){ %>
<tr><td> Resultados que contienen el texto: "<%= textToSearch %>": </td></tr>
<% } %>
<% var i; for (i=0; i < quizes.length; i++){ %>
	<tr>
		<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
	    <td><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
	</tr>
<% } %>
</table>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>